.container {
    text-align: center;
}

.card-primary {
    align-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.card-secondary {
    border-top: none;
}

.entry {
    margin-bottom: 10px;
}
